---
// Base Code / https://github.com/withastro/astro/blob/main/examples/blog/src/components/BaseHead.astro

import favicon from '../assets/favicon.png'

interface Props {
  title: string
  description: string
  heroImage: ImageMetadata
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { title, description, heroImage } = Astro.props
---

<!-- Global Metadata -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/png" href={favicon.src} />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(heroImage.src, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(heroImage.src, Astro.url)} />

<!-- Sitemap -->
<link rel="sitemap" href={new URL('/sitemap-index.xml', Astro.site)} />

<!-- Google Analytics -->
<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-C2D1SC3BE5"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag('js', new Date())

  gtag('config', 'G-C2D1SC3BE5')
</script>

<!-- Google AdSense -->
<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2369270801912255"
  crossorigin="anonymous"></script>

<!-- Google AdSense / 広告ブロックによる損失収益の回復 -->
<script
  async
  src="https://fundingchoicesmessages.google.com/i/pub-2369270801912255?ers=1"
  nonce="jcyfZyH4JrXwA_6Q4tbE5Q"></script><script nonce="jcyfZyH4JrXwA_6Q4tbE5Q">
  ;(function () {
    function signalGooglefcPresent() {
      if (!window.frames['googlefcPresent']) {
        if (document.body) {
          const iframe = document.createElement('iframe')
          iframe.style = 'width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;'
          iframe.style.display = 'none'
          iframe.name = 'googlefcPresent'
          document.body.appendChild(iframe)
        } else {
          setTimeout(signalGooglefcPresent, 0)
        }
      }
    }
    signalGooglefcPresent()
  })()
</script>
